@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel/Static/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    font-family: 'Cinzel';
    color: yellow;
}

li a:hover {
    background-color: blue;
}

body {
    background-color: #1a283c;
}

h1 {
    color: white;
    font-family: 'Cinzel';
}

h2 {
    color: #f0cc78;
    font-family: 'Cinzel';
}

article > div {
    color: #6a96b8;
    font-style: italic;
    font-size: 18px;
    max-width: 800px;
}

img {
    max-width: 800px;
    width: 100%;
    margin-bottom: 100px;
}

.bottom-credits {
    display: flex;
    flex-direction: column;
    border: solid white;
    border-radius: 20px;
    text-align: center;
}

.bottom-credits > a {
    margin: 10px;
}

.cover-image {
    display: flex;
    justify-content: center;
}

.home-title {
    text-align: center;
}
